.button-wrapper{
    position: relative;
    left: 87px;
    bottom: 3;
    width:145.67px;
    height:52px;
    align-items:center;
    padding:0px 0px 0px 0px;
    margin-left:12px;
    margin-right:17px;

    button{
    	position:relative;
	top:12px;
    }
}
.input-wrapper{
    background: url("https://icons.veryicon.com/png/o/miscellaneous/monochrome-icon-1/search-521.png");
    background-position: center;
    background-size: 19px;
    background-repeat: no-repeat;
    display:flex;
    width:5vw;
    height:32.59px;
    position:relative;
    top:0px;
    left:116px;

    img{
        display: none;
    }
}
.nav-ul li {
    text-decoration: none;
    list-style: none;

    a {
        position: relative;
        bottom: 1px;
        left: 19px;
        top: -2;
        text-decoration: none;
        color: rgb(99, 107, 116);
        padding-left: 9px;
	padding:6px 2px;
	font-size:11px;
    }
 
}
.logo-box{
    position: relative;
    top: 1px;
    left: 10px;
    background: url("logo.jpeg");
    width: 15vw;
    background-position: center;
    background-size: 90px;
    background-repeat: no-repeat;
    img{
        display: none;
    }
}

.user-status-details {
    width: auto;
    height: 26px;
    display: flex;
}
.user-dp-wrapper{
    width: 64px;
    height: 64px;
}
.user-name-box {
    width: 95px;
    height: 25px;
    margin: 4px 4px 16px 4px;
    font-size: 26px;
    bottom: 1px;
    right: 4px;
    position: relative;
}
footer {
    background-color: #0c0d0e;
    color: #babfc5;
    width: 109%;
}
.user-status-list {
    color: #5e5e5e;
    display: flex;
    width:auto;
    height: 18px;
    font-size: 11px;
}
.user-location-details {
    font-size: 11px;
}
.user-time-list {
    font-size: 11px;
}
    .content-button-wrapper{
    top:30px;
}
    .stats-wrapper {
        margin-top: 50px;
        width: 100%;
    }
    .stats-box {
        width: 100%;
    }
.badges-wrapper{
    width: 395px;
}
    .reached-box {
        margin-left: auto;
        position: relative;
        left: 15px;
    }
    .question-box {
        margin-left: 48px;
        position: relative;
        right: 16px;
        left:0;
    }
.right-area-wrapper{
    width: 395px;
}
}
.badge-boxes {
        width: 372px;
}
footer{
    background-color:#0c0d0e;
    color:#babfc5;
    h5{
	color:#c8ccd0;
	margin-bottom:4px;
	cursor:pointer;
	font-size:11px !important;
    }
    a{
	text-decoration:none;
        color:#babfc5;
        font-size:11px !important;
    }
    
}
    .post-sen {
        width: 224px;
    }

.answer-box{
    margin-left: 66px;
}
.stats-label {
    color: rgb(99, 107, 116);
    font-size: 11px;
}
.stats-nums {
    font-size: 15px;
}
.reached-box {
    margin-left: auto;
    position: relative;
    left: 33px;
}
.trophy-label {
    font-size: 11px;
    color: rgb(99, 107, 116);
}
.question-box {
    margin-left: 33px;
    position: relative;
    right: 16px;
    left: 0;
}
.logo-box {
    position: relative;
    top: 0px;
    left: 10px;
    background: url(logo.jpeg);
    width: 15vw;
    background-position: center;
    background-size: 90px;
    background-repeat: no-repeat;
}
.post-sen a{
    font-size: 12px !important;
}
.m-r {
    margin-right: 14px;
}
.points-wrapper {
    span {
        font-size: 11px;
        color: #636b74;
    }
}
.meta-post-sen {
    width: 100% !important;
}
.points-wrapper {
    text-align: center;
    align-content: center;
}
.top-tags-score-box{
    text-align: center;
    align-content: center !important;
}