.nav-form {
    width: 45vw;

}

.input-wrapper {
    display: flex;
    width: 45vw;
    height: 32.59px;
    position: relative;
    top: 3px;
    left: 7px;
}

nav {
    margin: 0;
    width: 768px;

}

.nav-container {

    margin: 0;
}

.stats-wrapper {
    margin-top: 70px;
    width: 100%;
}

.left-area-wrapper {
    width: 100%;
    height: auto;
    margin: 12px;
}

.stats-box {
    width: 100%;
}

.question-box {
    margin-left: 48px;
    position: relative;
    left: 0px;
}

.section-wrapper {
    display: flex;
    margin-right: 0px;
}

.reached-box {
    margin-left: auto;
    position: relative;
    left: 46px;
}

.trophy-box {
    margin-top: 0px;
    margin-right: 0px;
}

.question-box {
    margin-left: 48px;
    position: relative;
    left: 41px;
}

.left-area-wrapper {
    width: 100%;
    height: 125px;
    margin: 12px;
}

.area-wrapper {
    display: block;
}

.box-3 {
    margin-left: 0px;
    margin-top: 25px;
    width: 100% !important;
}

.badges-box {
    width: 100%;
}

.badge-title {
    display: block;
}

.post-title {
    p {

        font-size: 21px;
    }

    display:block;
    width:100%;
    height:28px;
    margin-bottom:8px;

    span {
        font-size: 13px;
        position: relative;
        top: 6;
    }
}

.top-posts-box {
    margin-top: 83px;
}

.badge-boxes {
    width: 100%;
}

.top-tags-wrapper {
    width: 100%;
}

.site-footer-nav {
    display: block !important;
}

.footer-links {
    display: flex;
}

.site-footer-container {
    display: block !important;
}

.copy-bottom {
    margin: 0.875px 0px 24px 0px;
    font-size: 11px;
}

.mlt {
    margin-left: 12px;
}

footer {
    h5 {
        color: #c8ccd0;
        margin-bottom: 5px;
        cursor: pointer;
    }
}

.badges-wrapper {
    width: 100%;
}

.site-footer-nav {
    width: auto;
    box-sizing: border-box;
}

.coll-2 {
    display: block;
    margin-top: 12px;
    width: 100%;
}

.collec-box {
    border: 1px solid #d6d9dc;
    border-radius: 4px;
    width: 100%;
}

.commu-box {
    width: 100%;
}

.meta-button {
    width: 38px;
    height: 30px;
}

.meta-side {
    width: 73px;
    position: relative;
    bottom: 25px;

}

.button-wrapper {
    width: 140 px;
    height: 52px;
    align-items: center;
    padding: 0px 1px 0px 0px;
    margin-left: 25px;
    margin-right: 0px;
}