.nav-form{
    width:45vw;

}

.input-wrapper{
    display:flex;
    width:45vw;
    height:32.59px;
    position:relative;
    top:3px;
    left:7px;
}
nav{
margin:0;

}
.nav-container{

margin:0;
}
    .stats-wrapper {
        margin-top: 70px;
        width: 100%;
    }
.left-area-wrapper {
    width: 100%;
    height: auto;
    margin: 12px;
}
.stats-box{
    width:100%;
}
    .question-box {
        margin-left: 48px;
        position: relative;
        left: 0px;
    }
.section-wrapper {
    display: flex;
    margin-right: 0px;
}
    .reached-box {
        margin-left: auto;
        position: relative;
        left:46px;
    }
    .trophy-box {
        margin-top: 0px;
        margin-right: 0px;
    }
    .question-box {
        margin-left: 48px;
        position: relative;
        left: 41px;
    }
    .left-area-wrapper {
        width: 100%;
        height: 125px;
        margin: 12px;
    }
.area-wrapper {
    display: block;
}
.box-3 {
        margin-left: 0px;
        margin-top: 25px;
        width: 100% !important;
    }
    .badges-box {
        width: 271px;
    }